#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-color: #c5e4e8;
  font-family: 'Inconsolata', monospace;
}

.card {
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: 700px;
}

@media (max-width: 800px) {
  .card{
    width: 100%;
  }
}

@media (max-width: 600px) {

  #root{
    margin-left:0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .card{
    flex-direction: column;
    padding: 2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .controls, .result{
    width: 100% !important;
  }

  .result{
    margin-top: 1em;
  }
}

header {
  color: #00474b;
  text-transform: uppercase;
  padding: 2em;
  letter-spacing: 0.3em;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 2em;
  padding-top: 1em;
}

.controls {
  color: #00474b;
  width: 50%;
  text-align: left;
  margin-right: 20px;
  padding: 10px;
}

.result {
  background-color: #00474b;
  color: white;
  border-radius: 15px;
  width: 50%;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.screenshot {
  width: 500px;
}

.tip-options-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: 10px;
}

.tip-option {
  background-color: #00474b;
  color: white;
  font-size: 1.4em;
  border-radius: 4px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tip-option.selected {
  background-color: #26c1ac !important;
  color: #00474b;
}

button {
  background-color: #26c1ac !important;
  color: #00474b;
  width: 100%;
  border-radius: 4px !important;
  font-weight: bold !important;
}

label {
  display: block;
}

input{
  width: 100%;
  border: 1px solid #5baaa0;
  background-color: #f3f8fa;
  color: #00474b;
  line-height: 30px;
  padding: 5px;
  text-align: right;
  font-size: 1.4em;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 10px center;
}

input:focus{
  border-color: #26c1ac !important;
}

input.bill{
  background-image: url("./assets/icon-dollar.svg");
}

input.people{
  background-image: url("./assets/icon-person.svg");
}

.result .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.result .total{
  font-size: 2em;
  font-weight: bold;
  color: #26c1ac;
}

.info{
  opacity: 0.5;
  margin-top: 0;
  padding-top:0;
}

.result .btn-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: end;
}

.error {
  color:red
}

input.invalid{
  border-color: red;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

button.custom-tip{
  background-color: #f3f8fa !important;
  color: #00474b;
}